body {
  height: 99%;
  width: 99%;
}
.diagramContainer {
	height: 100%;
	width: 100%;
	position: relative;
}

.diagramHeader {
	height: 5%;
	width: 100%;
	position: relative;
}

.diagramBody {
	height: 90%;
	width: 100%;
	position: relative;
}

.diagramFooter {
	height: 5%;
	width: 100%;
	position: relative;
}

.diagramCanvas {
	height: 90%;
	width: 100%;
	position: relative;
}

.diagramCanvasButton {
	height: 100%;
	width: 10%;
	position: relative;
}

.diagramCanvasContextMenu {
	height: 1px;
	width: 1px;
	position: absolute;
	top: 200px;
	left: 200px;
	display: none;
}
.diagramCanvasContextMenuItem {
	width: 100px; 
	height: 100px;
	position: absolute;
	border-radius: 50%;
	white-space:normal;
}